
@media(max-width: 920px){
    .main_menu_item_title{
        font-size: 20px;   
    }
    .main_menu_text {
        font-size: 12px;
    }
    .price{
        font-size: 14px;
    }
    .price_num{
        font-size: 20px;
    }
    .main_button{
        font-size: 14px;
        padding:14px 20px;
    }
    .main_menu_right{
        flex-wrap: wrap;
    }
}

@media(max-width: 640px){
    .header_logo{
        font-size: 20px;
        }
        .phone{
            font-size: 20px;
            margin-right:40px;
        }
        .header_button{
        padding:14px 20px;
        font-size: 14px;
        }

        .header_bottom{
            line-height: 40px;
            }
            .header_bottom_text{
                font-size: 14px;
            }
            .header_bottom_title{
                font-size: 55px;
                
            }
            .header_bottom_price{
                font-size: 14px;
            }
        .header_bottom_button{
            padding:10px 15px;
        }

        .main_top{
            margin-bottom: 50px;
        }
        .main_top_title{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .main_top_text{
            font-size: 14px;
            line-height: 30px;
        }
        .main_top_name{
            font-size: 20px;
        }
        .main_top_sign_img{
            width: 123px;
            height: 133px;
        }

        .main_menu_item_img{
            width: 250px;
            height: 150px;
        }
        .discount_img{
            width:40px;
            height:40px;
            font-size: 14px;
        }
        .main_menu_price{
            margin-top:20px;
        }
        .main_menu_title{
            font-size: 25px;
        }

        .comment_title{
        font-size: 15px;
        margin-bottom: 10px;
        }
        .comment_text{
        font-size: 12px;
        line-height: 15px;
        }
        .comment_img{
            margin-bottom: 20px;
            width:100%;
            width: 120px;
            height: 120px;
        }
}

@media(max-width: 540px){
        .header_logo{
        font-size: 15px;
        }
        .phone{
            font-size: 15px;
            margin-right:25px;
        }
        .header_button{
        padding:10px 15px;
        font-size: 12px;
        }
        .main_top{
            margin-bottom: 30px;
        }
        .main_top_title{
            font-size: 20px;
            margin-bottom: 20px;
        }
        .main_top_text{
            font-size: 12px;
            line-height: 20px;
        }
        .main_top_name{
            font-size: 15px;
        }
        .main_top_sign_img{
            width: 102px;
            height: 103px;
        }
        .main_menu_item_img{
            width: 150px;
            height: 100px;
        }
        .discount_img{
            width:30px;
            height:30px;
            font-size: 12px;
        }
        .footer_bottom{
            font-size: 14px;
        }
}

@media(max-width: 480px){
        .header_logo{
        font-size: 12px;
        }
        .phone{
            font-size: 12px;
            margin-right:20px;
        }
        .header_button{
        padding:8px 10px;
        font-size: 12px;
        }
        .header_top_left{
            flex-wrap: wrap;
        }

        .main_menu_item{
            flex-wrap: wrap;
        } 
        .header_top_left{
            justify-content: flex-end;
        }

        .header_bottom{
            line-height: 30px;
            }
            .header_bottom_text{
                font-size: 12px;
            }
            .header_bottom_title{
                font-size: 30px;
                
            }
            .header_bottom_price{
                font-size: 12px;
            }
        .header_bottom_button{
            padding:8px 10px;
        }

        .main_top{
            margin-bottom: 20px;
        }
        .main_top_title{
            font-size: 15px;
            margin-bottom: 10px;
        }
        .main_top_text{
            font-size: 12px;
            line-height: 20px;
        }
        .main_top_name{
            font-size: 12px;
        }
        .main_top_sign_img{
            width: 72px;
            height: 73px;
        }

        .main_top{
            flex-wrap: wrap;
        }
        .main_top_img{
            width:var(--col12);
        }
        .main_top_description{
            width:var(--col12);            
        }
        .main_menu_right {
            width:var(--var12);
            padding:0;
        }
        .main_menu_item_img{
            width:var(--col12);
            height:100%;
        }
        .discount_img{
            width:50px;
            height:50px;
            font-size: 15px;
            top: 5%;
            left: 5%;
        }

        .comment_title{
            font-size: 15px;
            margin-bottom: 10px;
            }
        .comment_text{
        font-size: 12px;
        line-height: 15px;
        }
        .comment_img{
            margin-bottom: 20px;
            width:100%;
            width: 220px;
            height: 220px;
        }
        .main_comments{
            flex-wrap: wrap;
        }
        .comment{
            width:var(--col12);
            margin-bottom: 20px;
        }

}

